.filter-component {
  display: flex;
  justify-content: center;
  position: sticky;
  width: 250px;
  top: 100px;

  &__apply-btn {
    width: 180px;
    height: 39px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    border: none;
    background: #4E4E4E;
    border-radius: 10px;
    margin: 20px auto;
    display: block;
    cursor: pointer;

    &:hover {
      background-color: lighten(#4E4E4E, 5%)
    }
  }
}

.container {
  position: relative;
  padding-left: 8px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #818181;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  width: 19px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('src/assets/images/input-checkboxes/checkbox-filter.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  margin-right: 10px;
}

.checkbox-tick {
  width: 11px;
  height: 9px;
  background-image: url('src/assets/images/input-checkboxes/checkbox-tick.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
