.catalog-component {

  &__drink-items-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-left: 30px;
  }

  &__drink-item {
    box-sizing: border-box;
    text-align: center;
    flex-grow: 1;
    flex-basis: calc(100% / 5);
    max-width: 20%;
    min-width: 200px;
  }

  &__title {
    color: #818181;
    border-bottom: 1px solid #D0D0D0;
    padding-bottom: 10px;
    margin-right: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    margin-top: 42px;
    margin-left: 30px;
  }


  @media screen and (max-width: 1347px) {
    &__drink-item {
      flex-basis: calc(100% / 4);
      max-width: calc(100% / 4);
    }
  }

  @media screen and (max-width: 1147px) {
    &__drink-item {
      flex-basis: calc(100% / 3);
      max-width: calc(100% / 3);
    }
  }

  @media screen and (max-width: 897px) {
    &__drink-item {
      flex-basis: calc(100% / 2);
      max-width: calc(100% / 2);
    }
  }

  @media screen and (max-width: 697px) {
    &__drink-item {
      min-width: auto;
    }
  }

  @media screen and (max-width: 666px) {
    &__drink-item {
      min-width: 200px;
    }

    &__drink-items-wrapper {
      flex-flow: column;
      align-items: center;
    }
  }
}
