.amw-radio {
  &__wrapper {
    color: #2c2c2c;
    cursor: pointer;
    display: block;
    text-transform: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 26px;
    line-height: 36px;

    .amw-radio__overlay {
      display: block;
      width: 16px;
      height: 16px;
      border: 2px solid #2c2c2c;
      border-radius: 50%;
      position: absolute;
      left: 0;
    }
  }

  &__field {
    opacity: 0;
    width: 0;
    height: 0;

    & {
      + .amw-radio__overlay {
        position: absolute;
        left: 0;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #2c2c2c;
        border-radius: 50%;
      }
    }

    &:not(:checked),
    &:checked {
      + .amw-radio__overlay {
        &::after {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          color: #2c2c2c;
          border-radius: 50%;
          transition: all 0.2s ease;
          background-color: #2c2c2c;
        }
      }
    }

    &:not(:checked) {
      + .amw-radio__overlay {
        &::after {
          opacity: 0;
          transform: scale(0);
        }
      }
    }

    &:checked {
      + .amw-radio__overlay {
        &::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }

    &:focus {
      + .amw-radio__overlay {
        outline: 2px solid #38539a;
      }
    }
  }

  &__field {
    color: #2c2c2c;
  }
}
