<button>kfmrkgr</button>

<!-- <fieldset style="margin-top:2rem; width: 400px; margin-left:1rem;">
  <legend>What is your favorite wild animal?</legend>
  <div class="radio-wrapper">
    <input type="radio" name="animal" id="elephant">
    <label for="elephant">Elephant</label>
  </div>
  <div class="radio-wrapper">
    <input type="radio" name="animal" id="monkey">
    <label for="monkey">Monkey</label>
  </div>
   <div class="radio-wrapper">
    <input type="radio" name="animal" id="cheetah">
    <label for="cheetah">Cheetah</label>
  </div>
  <div class="radio-wrapper">
    <input type="radio" name="animal" id="giraffe">
    <label for="giraffe">Giraffe</label>
  </div>
</fieldset>

<label class="amw-checkbox__wrapper">
                                <input aria-describedby="facet-0" class="amw-checkbox__field js-facet-checkbox  js-facet-item-checkbox sr-only" type="checkbox">
                                <span class="amw-checkbox__overlay" aria-hidden="true"></span>
                                <span class="amw-checkbox__text">
                                    <span class="amw-text js-analytics-filter-name">Dry Skin</span>
                                    (9)<span class="hidden" aria-hidden="true" id="facet-0">
                                        Selection of item will refresh the page with new results.</span>
                                </span>
                            </label>


<button>FRFRVMT</button> -->

<label class="amw-radio__wrapper">
  <input
    class="amw-radio__field" name="gender"
    type="radio"
  />
  <span class="amw-radio__overlay" aria-hidden="true"></span>
  <span class="amw-radio__text">
    <span class="amw-text">Dry Skin</span>
  </span>
</label>

<label class="amw-radio__wrapper">
  <input  name="gender"
    class="amw-radio__field"
    type="radio"
  />
  <span class="amw-radio__overlay" aria-hidden="true"></span>
  <span class="amw-radio__text">
    <span class="amw-text">Dry Skin</span>
  </span>
</label>
